.Calculator{
    width: 60%;
    background-color: rgb(161, 161, 161);
    margin: 0 auto;
    padding: 10px;
}
.Calculator .main{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgb(145, 164, 180);
}
input[type=text]{
    margin-top: 50px;
    border:1px solid black;
    height: 40px;
    width: 70%;
}
.back{
    font-size: 20px;
    color: black;
    height: 40px;
    line-height: 40px;
}
table{
    margin: 0 auto;
    width: 70%;
    height: 350px;
    margin-top: 20px;
}
button{
    border: none;
    width: 90px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.mark{
    background-color: rgb(240, 240, 100);
}
.num{
    background-color: rgb(240, 176, 59);
}
.clear{
    background-color: pink;
}
.equal{
    background-color: red;
}